<h2><%= @applicant.name %></h2>

<h3>Basic Information</h3>
<div>
  <div><label>Last Name:</label> <%= @applicant.last_name %></div>
  <div><label>First Name:</label> <%= @applicant.first_name %></div>
  <div><label>Nickname:</label> <%= @applicant.nickname %></div>
  <br />
  <div><label>Student Number:</label> <%= @applicant.student_number %></div>
  <div><label>Birthday:</label> <%= @applicant.birthday %></div>
  <br />
  <div><label>Contact Number:</label> <%= @applicant.contact_number %></div>
  <div><label>Email:</label> <%= @applicant.email %></div>
  <div><label>Address:</label> <%= @applicant.address %></div>
</div>

<h3>Skills and Interests</h3>
<div>
  <div>
    <label>Skills:</label>
    <p>
      <%= @applicant.skills %>
    </p>
  </div>
  <div>
    <label>Interests:</label>
    <p>
      <%= @applicant.interests %>
    </p>
  </div>
  <div>
    <label>Experience / Programming Language / Frameworks:</label>
    <p>
      <%= @applicant.experience %>
    </p>
  </div>
</div>

<h3>Affiliations</h3>
<div>
  <% @applicant.affiliations.each do |affiliation| %>
    <div>
      <div>
        <h4><%= affiliation.org_name %></h4>
      </div>
      <div>
        <label>Position:</label> <%= affiliation.position %>
      </div>
      <div>
        <label>Duties:</label>
        <p>
          <%= affiliation.duties %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<h3>Committee Preferences</h3>
<div>
  <% @applicant.ordered_committee_choices.each do |choice| %>
    <div>
      <div>
        <h4><%= choice.committee.name %></h4>
      </div>
      <div>
        <label>Priority:</label> <%= choice.priority %>
      </div>
      <div>
        <label>Reason:</label>
        <p>
          <%= choice.reason %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<br />

<div>
<%= link_to 'Edit', edit_admin_applicant_path(@applicant) %> |
<%= link_to 'Back', admin_applicants_path %>
</div>
